body {
    background-color: lightblue;
    margin: 0;
}

header {
    color: navy;
}

header .maincontent {
    padding-top: 221px;
    padding-bottom: 100px;
    height:100vh;
}


header {
    text-align: center;
// background: #18BC9C;
    color: #fff;
    background-image: url("img/comp_background.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

.navbar-custom {
// background: #3348FF;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.second-nav {
    position: fixed;
    top: 50px;
    background: rgba(255,255,255,.7);
    width: 100%;
    color: #3348FF;
    z-index: 1030;
}

.secondnav-li {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #2196F3;
    text-decoration: none;
    cursor: auto;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.secondnav-li a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.secondnav-li:hover {
    background-color: #eee;
}

.main-nav-link a {
    color: #337ab7;
}

.main-header {
    color: #EAEAEA;
}

.img-responsive {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto 20px;
    border: 0;
    vertical-align: middle;
}

*:focus {
    outline: none;
}

.portfolio-item {
    height: 200px;
    margin: 0 0 30px;
    right: 0;
    text-align: center;
}

section {
    padding:  100px 0;
}

.success {
    background: #5D99FF;
    color: #fff;
}

.success a{
    color: #fff;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

footer {
    color: #fff;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer h3 {
    margin-bottom: 30px;
}

p {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url(img/handshake.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    float: left;
    margin: 8px 8px 8px 0;
}

.nav-section {
    background-color: rgba(255,255,255,.5);
    height: 250px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.nav-section-span {
    font-weight: 400;
    font-size: 22px;
    line-height: 250px;
    outline:none;
}

.nav-section-span:focus {
    outline:none;
}

.infos {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 70px;
    z-index: 3;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style-type: none;
    background-color: rgba(255,255,255,.5);
}

.contacts_form {
    color: #337ab7;
    display: none;
}

.maincontent a {
    color: #FFFFFF;
    text-decoration: none;
}

.about {
    text-align: justify;
    text-justify: inter-word;
}

.navbar-custom .navbar-toggle {
    color: #F53AE9;
    text-transform: uppercase;
    font-size: 10px;
    border-color: #F53AE9;
}

.navbar-header.nav-header{
    margin-left: 0;
    margin-right: 0;
}

@media (min-width:992px) {
    .mobile-only {
        display:none !important;
    }

    .desktop-only {
        display:block !important;
    }
}

@media (max-width:991px) {
    .mobile-only {
        display:block !important;
    }

    .desktop-only {
        display:none !important;
    }

    .second-nav-ul {
        padding: 0;
    }

    .secondnav-li {
        padding-left: 0;
    }

    header .maincontent {
        padding-top: 100px;
        padding-bottom: 100px;
        height: 100vh;
    }

    .infos {
        width: 65%
    }

    .infos h2{
        font-size: 19px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .contacts_form p {
        font-size: 16px;
        margin: 0;
    }

    .second-nav {
        background: rgba(255,255,255,.9);
    }
}

.caption {
    position: absolute;
    width: 95%;
    height: 91%;
    opacity: 0;
    bottom: 11px;
    left: 7px;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    background: #EAEAEA;
}

.caption:hover {
    opacity: 1;
}

.close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 2000;
}

.close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}

.modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.modal-content img {
    margin-bottom: 30px;
}

hr.star-primary {
    border-color: #2C3E50;
}

hr.star-light, hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 40px 0;
    text-align: center;
}

.carousel-indicators li {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.carousel-indicators .active {
    height: 25px;
    width: 25px;
}

.modalTrigger {
    width: 33%;
    float: left;
    padding-top: 40px;
}

.modalTriggerItem {
    width: 120px;
    font-size: smaller;
}

.contacts-navigation {
    min-width: 600px;
}