body {
    background-color: lightblue;
    margin: 0;
}

header {
    color: navy;
}

header .maincontent {
    padding-top: 221px;
    padding-bottom: 100px;
}


header {
    text-align: center;
    background: #18BC9C;
    color: #fff;
}

.container {
    width: 1170px;
}

.navbar-custom {
    background: #2C3E50;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}